In [3]:
import pandas as pd
import seaborn as sns
sns.set(context="notebook", style="whitegrid", palette="dark")
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np

In [4]:
data = pd.read_csv('ex1data1.txt', names=['population', 'profit'])#读取数据并赋予列名,data为列表

In [ ]:
data.head()#看前五行

In [ ]:
data.describe()#描述数据信息

In [ ]:
data.plot(kind='scatter', x='population', y='profit', figsize=(12,8))#kind为图像种类scatter为散点图,x为横坐标数据，y为纵坐标数据，figsize为图像大小

In [40]:
data.insert(0, 'Ones', 1)

In [41]:
cols = data.shape[1]#输出数组的行和列数,0表示行数,1表示列数
x=data.iloc[:,:-1]#x是data除最后一列外所有列(population)
y = data.iloc[:,cols-1:cols]#y是data最后一列

In [42]:
x.head()

   Ones  population
0     1      6.1101
1     1      5.5277
2     1      8.5186
3     1      7.0032
4     1      5.8598

In [43]:
y.head()

    profit
0  17.5920
1   9.1302
2  13.6620
3  11.8540
4   6.8233

In [50]:
X = np.matrix(x.values)#x转化为矩阵
Y = np.matrix(y.values)#y转化为矩阵
theta = np.matrix(np.array([0,0]))#初始化theta
alpha = 0.01#学习速率
iters = 1500#迭代次数

In [51]:
X.shape,theta.shape

((97, 2), (1, 2))

In [48]:
def computeCost(X, Y, theta):
    J=np.power(((X * theta.T) - Y), 2)
    return np.sum(J)/(2*len(X))

In [49]:
computeCost(X,Y,theta)

32.072733877455676

In [82]:
theta=np.linalg.inv(X.T*X)*X.T*Y
theta,theta.shape

(matrix([[-3.89578088],
         [ 1.19303364]]),
 (2, 1))

In [80]:

predict1 = np.matrix(np.array([1,3.5]))
predict2 = np.matrix(np.array([1,7]))
predict1.shape

(1, 2)

In [81]:
predict1 = predict1*theta
print("predict1:",predict1)
predict2 = predict2*theta
print("predict2:",predict2)

predict1: [[0.27983688]]
predict2: [[4.45545463]]